/* Udacity project - Portfolio */
/* Bogdan Pasterak */

/* main elements */
html,
body,
.container {
  width: 100%;
  font-family: Dosis, sans-serif;
  margin: auto;
}

.container {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  max-width: 1270px;
}

h1 {
  font-family: 'Short Stack', cursive;
  margin: 0.5em;
}

aside {
  width: 140px;
  position: static;
  top: 0;
  left: 0;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  text-align: right;
  padding: 10px 10px 0 10px;
}

video {
  width: 100%;
  border: 3px solid lightgray;
}

/* my name */
.bp {
  font-size: 2.5em;
  margin: 0;
}

.short,
.mini {
    display: none;
}

header > p {
  margin: 1em 0 1em 0;
}

/* line stylization */
hr {
    height: 12px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* elements in aside */
.box-color {
  width: 120px;
  height: 130px;
  margin: 10px;
  font-size: 2em;
}

.box-color:first-child {
  margin-top: 60px;
}

.box-color p {
  position: relative;
  bottom: -90px;
  left: 5px;
}

.squere {
  width: 80px;
  height: 80px;
  position: relative;
  top: -68px;
  right: -35px;
}

.color-1 {
  background-color: #02b3e4;
}

.color-2 {
  background-color: #2d3c49;
}

.color-3 {
  background-color: #7d97ad;
}

/* elements of bottom 3 or 2 or 1 columns */
.feature {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

/* flex 3 columns */
.box-feature {
  width: 32%;
  margin-left: 1%;
}

/* hidden menu */
.hamburger {
  display: none;
  font-size: 2.5em;
  position: absolute;
  left: 110px;
  top: 20px;
}

/* image on header */
.u-sign {
  float: left;
  width: 96px;
  height: 96px;
  z-index: -1;
}

/* center */
#game {
  margin: 15px;
  padding: 5px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.3);
}

#canvas {
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* breakpoints */

/* change to 2 columns */
@media screen and (max-width: 915px) {
  .box-feature {
    width: 47%;
    margin-left: 2%;
  }
}

/* hide the menu show hamburger */
@media screen and (max-width: 765px) {
  aside {
    position: fixed;
    left: -140px;
  }
  .hamburger {
    display: block;
  }
}

/* change to 1 column */
@media screen and (max-width: 550px) {
  .box-feature {
    width: 90%;
    margin-left: 5%;
  }
  /* shorten the subtitles */
  .full {
    display: none;
  }
  .short {
    display: block;
  }
}

/* shorten the subtitles */
@media screen and (max-width: 400px) {
  .short {
    display: none;
  }
  .mini {
    display: block;
  }
}

/* animations */
@keyframes change-shape {
    0% { transform: rotate3d(1, 0, 0, 0deg); background-color: #02b3e4;}
    25% { transform: rotate3d(3, 2, 0, 90deg); background-color: yellow;}
    50% { transform: rotate3d(1, 2, 0.5, 180deg); background-color: red;}
    75% { transform: rotate3d(2, 1, 3, 270deg); background-color: purple;}
    100% { transform: rotate3d(0, 0, 0, 360deg); background-color: #02b3e4;}
}

@keyframes fade-out {
  from { opacity: 1;}
  to { opacity: 0;}
}

@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1;}
}
