html,
body,
#container {
  width: 100%;
  font-family: Dosis, sans-serif;
  margin: auto;
}

#container {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  max-width: 1270px;
}

h1 {
  font-family: 'Short Stack', cursive;
  margin: 0.5em;
}

aside {
  min-width: 140px;
  position: static;
  top: 0;
  left: 0;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

header {
  text-align: right;
  padding: 10px 10px 0 10px;
}

.bp {
  font-size: 2.5em;
  margin: 0;
}

.short {
    display: none;
}

header > p {
  margin: 1em 0 1em 0;
}

hr {
    height: 12px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.boxColor {
  width: 120px;
  height: 120px;
  background-color: blue;
  margin: 10px;
}

#feature {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.boxFeature {
  width: 32%;
  margin-left: 1%;
}

.boxColor:first-child {
  margin-top: 60px;
}

#hamburger {
  display: none;
  font-size: 2.5em;
  position: fixed;
  left: 110px;
  top: 20px;
}

#u-sign {
  float: left;
  width: 96px;
  height: 96px;
}

#game {
  margin: 15px;
  padding: 5px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.3);
}

#canvas {
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 915px) {
  .boxFeature {
    width: 47%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 765px) {
  aside {
    position: fixed;
    left: -140px;
  }
  #hamburger {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .boxFeature {
    width: 90%;
    margin-left: 5%;
  }
  #u-sign {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: -1;
  }
}

@media screen and (max-width: 450px) {
  .full {
    display: none;
  }
  .short {
    display: block;
  }
}
